{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "prettier",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "no-console": "off",                                                                // console.log 사용
    "no-use-before-define": "off",                                                      // React17+ JSX 만 사용할 때 import React 를 강제하는 버그
    "spaced-comment": "off",                                                            // {/*<Component>*/} 주석 가능
    "react/jsx-filename-extension":["warn", {"extensions":[".tsx"]}],                   // import 문에서 ts, tsx, js 확장자 생략
    "import/extensions":["error", "ignorePackages", {"ts": "never", "tsx": "never", "js": "never"}], // (같은 이유)
    "react/prop-types": "off",                                                          // 타입스크립트는 타입이 이미 있기 때문에 프롭타입 필요 없음
    "react/react-in-jsx-scope": "off",                                                  // React17+ 에서 import React 생략 가능
    "react/require-default-props": "off",                                               // nullable 타입의 기본값을 못 찾는 버그 픽스
    "react/jsx-props-no-spreading": "off",                                              // 컴포넌트 props 로 나머지 연산자 사용 (<Component {...rest} />)
    "react-hooks/rules-of-hooks": "error",                                              // airbnb 의 hooks 사용규칙 적용
    "react-hooks/exhaustive-deps": ["warn", {"additionalHooks": "useRecoilCallback"}],  // (같은 이유) 제대로 된 의존성 배열 선언 안 하면 경고
    "import/prefer-default-export": "off",                                              // export const 하나일 때 export default 하라고 강제하지 않도록 하기
    "no-shadow": "off",                                                                 // eslint 버그 픽스: enum 오탐 방지
    "@typescript-eslint/no-shadow": "off",                                              // (같은 이유)
    "@typescript-eslint/no-use-before-define": ["error"],                               // React17+ 에서 import React 생략 가능
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],       // _로 시작하는 변수는 사용여부 체크하지 않음
    "@typescript-eslint/no-non-null-assertion": "off",                                  // non-null 단언 연산자(!) 사용
    "@typescript-eslint/explicit-function-return-type": "off",                          // 리액트 컴포넌트 타입 추론 사용 (JSX.Element 생략 가능)
    "@typescript-eslint/explicit-module-boundary-types": "off",                         // (같은 이유)
    "jsx-a11y/label-has-associated-control": "off",                                     // 접근성: 마크업 구조상 accociated-control 이 포함되어 있지 않아서 끔
    "no-duplicate-imports": "off",                                                      // 모듈로 빠져있는 것도 같은 import 로 인식해서 끔
    "@typescript-eslint/no-duplicate-imports": "off",                                   // (같은 이유)
    "import/no-duplicates": "off",                                                      // (같은 이유)
    "import/no-unresolved": "off",
    "camelcase": "off"
  }
}
